<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='master.css') }}">

<title>Locust Talk</title>

	<body>
	
		<div class="logo"></div>
		
		<h2> NavBar </h2>
		
		
		<ul>
		{% for item in navbar %}
		<form action="/forum/{{ item }}">
    		<input type="submit" value="{{ item }}">
		</form>
		{% endfor %}
		</ul>
		
		<h2> Categories </h2>
		
		<ul>
		{% if categories != None %}
			{% for cat in categories %}
			<form action="/forum/{{ cat }}">
    			<input type="submit" value="{{ cat }}">
			</form>
			{% endfor %}
		{% endif %}
		</ul>
	
	</body>
</html>