<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='master.css') }}">

<title>Locust Talk</title>

	<body>

		<div class="logo"></div>

		

		<h2> NavBar </h2>
		
		
		<ul>
		{% for item in navbar %}
		<form action="/forum/view/{{ item }}">
    		<input type="submit" value="{{ item }}">
		</form>
		{% endfor %}
		</ul>

		<h1> {{ topic_name }}</h1>
		
		
		<ul>
		{% if messages != None %}
			{% for msg in messages %}
			<br>
			AUTHOR: {{ msg.author}} <br>
			MESSAGE: <br>
			{{ msg.message }} <br>
			{% endfor %}
		{% endif %}
		</ul>

		<br>
		GO TO PAGE: 
		{% for num in pages %}
		<a href="/forum/view?topic_id={{ topic_id }}&amp;page={{ num }}"> {{ num }}</a> 
		{% endfor %}

		<form action="/forum/postmessage" method="get">
			<input type="hidden" value="{{ topic_id }}" name="topic_id">
			<input type="submit" value="POST A RESPONSE">
		</form>
	
	</body>
</html>