<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='master.css') }}">

<title>Locust Talk</title>

	<body>
	
		<div class="logo"></div>
		
		<h2> NavBar </h2>
		
		
		<ul>
		{% for item in navbar %}
		<form action="/forum/view/{{ item }}">
    		<input type="submit" value="{{ item }}">
		</form>
		{% endfor %}
		</ul>
		
		<h2> New Topic </h2>

		<h1> You're posting a new topic in {{ path }} </h1>

		<form action="/forum/posttopic/submit" method="post" >
		Name: <input type="text" name="name">
		<br>
		Topic Title: <input type="text" name="topic_title">
		<br>
		<input type="hidden" value="{{ path }}" name="path">
		<input type="submit" value="Post Topic">
		</form>
		

	
	</body>
</html>